@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
    <form method="post">
        <input name="Update filter" type="submit" class="btn btn-default" />
        <input name="startDate" type="date" asp-for="StartDate" />
        <input name="finishDate" type="date" asp-for="FinishDate" />
        <div class="center-block">
            <select name="officeId" asp-items="Model.Offices"></select>
        </div>

        <div class="center-block">
            <select name="workerIds" asp-items="@Model.Workers" multiple="true"></select>
        </div>

        <div class="center-block">
            <select name="internetTypesIds" asp-items="@Model.InternetTypes" multiple="true"></select>
        </div>
    </form>

    <table id="t01" class="table table-sm table-striped table-bordered">  
        <thead>  
            <th>Transaction ID</th>
            <th>Service</th>  
            <th>Worker</th>
            <th>Office</th>
            <th>Price</th>  
        </thead>  
        
@foreach (var item in Model.TableData)  
{
        <tr>  
                        <td>  
@item.TransactionId  
</td> 
<td>
    @item.InternetType
</td>
            <td>  
@($"{item.WorkerName} {item.WorkerSurname}")
</td>  
<td>  
@item.OfficeName  
</td>
 
<td>  
@item.Price  
</td>
</tr>  
  
}  
  
    </table> 
</div>
