@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div class="center-block">
        @Html.ListBoxFor(m => m.Offices.Keys, new MultiSelectList(Model.Offices.Select(kvp => new SelectListItem(kvp.Value, $"{kvp.Key}")), "Key", "Value"))
    </div>

    <table id="t01" class="table table-sm table-striped table-bordered">  
        <thead>  
            <th>Transaction ID</th>
            <th>Service</th>  
            <th>Worker</th>
            <th>Office</th>
            <th>Price</th>  
        </thead>  
@foreach (var item in Model.TableData)  
{
        <tr>  
                        <td>  
@item.TransactionId  
</td> 
<td>
    @item.InternetType
</td>
            <td>  
@($"{item.WorkerName} {item.WorkerSurname}")
</td>  
<td>  
@item.OfficeName  
</td>
 
<td>  
@item.Price  
</td>
</tr>  
  
}  
  
    </table> 
</div>
